inmanta-dev-dependencies[module,extension]==1.41.0; python_version <= '3.6'
inmanta-dev-dependencies[module,extension]==2.9.0; python_version > '3.6'
pytest
netaddr
cpapi
pytest-inmanta
types-protobuf
types-requests
grpcio-tools
