inmanta-tfplugin
msgpack
protobuf

# This pre-release is broken as reported here: https://github.com/grpc/grpc/issues/30640
# The version constraint can be removed once a newer pre-release is published.
grpcio!=1.49.0rc1
